<!-- 

    담당자 : 이승현
    함수 설명 : 
    기능 설명 :  1. 비밀번호, 사번 검증 - [비밀번호, 사번 둘 중 하나가 틀린 경우 둘 다 오류 표시]
                2. 회원가입 페이지 이동
                3. 메인 페이지 이동 기능 - [토큰을 이용한 사용자 검증]

 -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/fontawesome-free-6.2.0-web/css/all.min.css">
  <title><%- content %></title>
</head>
<body>
  <section id="loginLeft" class="loginSection">
    <h2 class="hidden"><%- content %></h2>
        <form name="customer" action="login.do" method="post">
            <table>
                <thead class="hidden">
                    <tr>
                        <th colspan="2">구조상 필요한 표머리</th>
                    <tr>
                </thead>
                <tbody>
                    <tr>
                        <th><label for="userNumber">사원번호</label></th>
                        <td>
                            <input type="text" name="userNumber" id="userNumber" maxlength="12" placeholder="사원번호를 입력하세요."/>
                        </td>
                        
                    </tr>
                    <tr class="input password">
                        <th><label for="password" class="label password">비밀번호</label></th>
                        <td>
                            <input type="password" id="password" name="password" class="form-input" maxlength="20" placeholder="비밀번호를 입력하세요."/>
                            <div class="eyes">
                                <i class="fa-solid fa-eye"></i>
                            </div>
                        </td>
                        <td>
                            <input class="checkbox" type="checkbox" name="userNumberCheck" value="true"/>사원번호 저장
                        </td>
                    </tr>
                </tbody>
                </table>
                <input type="submit" id="submitButton" value="로그인"/>
            <ul>
                <li><a href="add_user.ejs">회원가입</a></li> <!-- 2. 회원가입 페이지 이동 -->
                <li><a href="find_userId.ejs">아이디 찾기</a></li>
                <li><a href="find_passwd.ejs">비밀번호 찾기</a></li>
            </ul>
            <!-- 로그인 API -->
            <div>Google로 로그인하기</div>
            <div>Facebook으로 로그인하기</div>
            <div>Kakaotalk으로 로그인하기</div>
        </form>
    </section>
    <!-- 디자인한 그림, 움짤 넣기! -->
    <section id="loginRight" class="loginSection">
        <img src="img/home.png" alt="">
    </section>
    <script>
        /**
         * 
         * 담당자 : 이승현
         * 함수 설명 :
         * 기능 설명 :   1. 비밀번호, 사번 검증 - [비밀번호, 사번 둘 중 하나가 틀린 경우 둘 다 오류 표시]
                        2. 회원가입 페이지 이동
                        3. 메인 페이지 이동 기능 - [토큰을 이용한 사용자 검증]
         * 
         * */
        // [ 이승현 - 사원번호 저장하기 누르면 7일 간 저장됨 ]
        $(document).ready(function(){

        // 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
        var key = getCookie("key");
        $("#userId").val(key); 
        
        if($("#userId").val() != ""){ // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
            $("#idSaveCheck").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
        }
        
        $("#idSaveCheck").change(function(){ // 체크박스에 변화가 있다면,
            if($("#idSaveCheck").is(":checked")){ // ID 저장하기 체크했을 때,
                setCookie("key", $("#userId").val(), 7); // 7일 동안 쿠키 보관
            }else{ // ID 저장하기 체크 해제 시,
                deleteCookie("key");
            }
        });
        
        // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
        $("#userId").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
            if($("#idSaveCheck").is(":checked")){ // ID 저장하기를 체크한 상태라면,
                setCookie("key", $("#userId").val(), 7); // 7일 동안 쿠키 보관
            }
        });
        });

        function setCookie(cookieName, value, exdays){
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
        document.cookie = cookieName + "=" + cookieValue;
        }

        function deleteCookie(cookieName){
        var expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
        }

        function getCookie(cookieName) {
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var cookieValue = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1)end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return unescape(cookieValue);
        }

        // [ 이승현 - 비밀번호 보이기 기능 ]
        $(function(){
            // 눈표시 클릭 시 패스워드 보이기
            $('.eyes').on('click',function(){
                $('.input.password').toggleClass('active');

                if( $('.input.password').hasClass('active') == true ){
                    $(this).find('.fa-eye').attr('class',"fas fa-eye-slash").parents('.input').find('#password').attr('type',"text");
                                // i 클래스
                                // 텍스트 보이기 i 클래스
                }
                else{
                    $(this).find('.fa-eye-slash').attr('class',"fas fa-eye").parents('.input').find('#password').attr('type','password');
                }
            });
        });
    </script>
</body>
</html>